<%- include('partials/_header') %>
<%- include('partials/_notify') %>

<% if (auth) { %>
    <%- include('partials/_nav') %>
    <%- include('partials/_sessionelements') %>
<% } %>

    


<div class="container">
    <form action="/" method="post">
        <div class="card shadow-sm border border-primary mt-3">
            <div class="card-title text-center">
                <h3 class="text-primary-emphasis my-3">Railway Ticket ?</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-lg-4">
                        <label for="exampleDataList" class="form-label text-primary-emphasis"><h6>Source :</h6></label>
                                  <input class="form-control border border-primary" list="datalistOptions" id="exampleDataList" placeholder="Type Source to search..." name="source">
                                  <datalist id="datalistOptions">
                                    <% city.forEach(cities => { %>
                                      <option value="<%= cities.name %>">
                                    <% }) %>
                                  </datalist>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <label for="exampleDataList" class="form-label text-primary-emphasis"><h6>Destination :</h6></label>
                                  <input class="form-control border border-primary" list="datalistOptions" id="exampleDataList" placeholder="Type Destination to search..." name="destination">
                                  <datalist id="datalistOptions">
                                    <% city.forEach(cities => { %>
                                      <option value="<%= cities.name %>">
                                    <% }) %>
                                  </datalist>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <label for="exampleDataList" class="form-label text-primary-emphasis "><h6>Date :</h6></label><br>
                        <input type="date" name="date" class=" form-control border border-primary" >
                    </div>
                    
                    
                    <% if (auth) { %>
                        <input type="text" name="searchedby" value="<%= auth.email %>" hidden>
                        <input type="text" name="role" value="<%= auth.role %>" hidden>
                    <% } %>
                </div>
            </div>
            <div class="container mx-auto text-center my-3">
                <button type="submit" class="btn btn-lg bg-primary-subtle text-primary-emphasis">
                  Search <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5q0-2.725 1.888-4.612T9.5 3q2.725 0 4.612 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3l-1.4 1.4ZM9.5 14q1.875 0 3.188-1.313T14 9.5q0-1.875-1.313-3.188T9.5 5Q7.625 5 6.312 6.313T5 9.5q0 1.875 1.313 3.188T9.5 14Z"/></svg>
                </button>
          </div>
        </div>
    </form>
    </div>
    


    <% if (auth) { %>
        <% if (train) { %>
            <% train.forEach((element,index) => { %>
        <div class="container mt-3">
            <table class="table text-center"> 
                <thead class="bg-primary-subtle text-primary">
                    <th>#</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Tickets Available</th>
                    <th>Station Leave Timing</th>
                </thead>
                <tbody>                
                    <td><%= index+1 %></td>
                    <td><%= element.source %></td>
                    <td><%= element.destination %></td>
                    <td><%= element.startDate %></td>
                    <td><%= element.endDate %></td>
                    <td><%= element.ticket %></td>
                    <td><%= element.time %></td>
                </tbody>
            </table>
        </div>
        <% }) %>
        <% }else if(train == 0){ %>
            <div class="container bg-primary-subtle mt-3 rounded text-center py-5 px-5">
                <div class="box border-primary rounded py-5 px-5 border-opacity-50" style="border-style: dashed;">
                    <h1 class="text-primary">Sorry ! No train found.</h1>
                </div>
            </div>
        <% } %>
    <% } %>

    

<%- include('partials/_footer') %>

    
