<%- include('partials/_header') %>

<%- include('partials/_nav') %>
<% if (auth) { %>
    <h5 class="ms-1 mb-1 position-absolute bottom-0 text-primary-emphasis">Status : <span class="text-success">Active</span></h5>
<% }else{ %>
    <h5 class="ms-1 mb-1 position-absolute bottom-0 text-primary-emphasis">Status : <span class="text-danger">InActive</span></h5>
<% } %>
<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-success-subtle text-success-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Users</h5>
                </div>
                <div class="card-body">
                    <h2><%= tusers %></h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-primary-subtle text-primary-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Searches</h5>
                </div>
                <div class="card-body">
                    <h2><%= tlogs %></h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-warning-subtle text-warning-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Cities</h5>
                </div>
                <div class="card-body">
                    <h2><%= tcity %></h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm text-center border-0 rounded bg-info-subtle text-info-emphasis">
                <div class="card-title my-2">
                    <h5 class="my-1">Total Trains</h5>
                </div>
                <div class="card-body">
                    <h2><%= ttrains %></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_usertable') %>

